doctype html
html
    head
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        block title
    body
        p.card-desc #{you}
        p.card-desc #{me}
        p.card-desc 'ttttt'